@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes scrollcarr {
  from {
    transform: rotateZ(-90deg) translateX(240px);
  }
  to {
    transform: rotateZ(-90deg) translateX(-300px);
  }
}
::-moz-selection {
  background: black;
  color: white;
}
::selection {
  background: black;
  color: white;
}

body {
  background: linear-gradient(80deg, rgb(170, 1, 72) 0%, rgb(64, 0, 255) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
body #carrCredit {
  position: absolute;
  background-color: none;
  width: 400px;
  height: 20px;
  transform: rotateZ(-90deg) translateX(220px);
  margin-left: calc(100vw - 210px);
  z-index: -1;
  animation: scrollcarr 11s 1s infinite linear;
}
body #carrCredit:hover {
  cursor: vertical-text;
}
body main {
  z-index: 100;
  background: #222;
  height: 80vh;
  margin-top: 20vh;
}
body main #pdpDiv {
  background: none;
  height: 10em;
}
body main #pdpDiv #pdp {
  position: relative;
  background: white;
  width: 10em;
  height: 10em;
  top: -5em;
  left: 5em;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 50%;
}
body main #pdpDiv #pdp:hover {
  box-shadow: 10px 10px 50px -5px #000;
}
body main #pdpDiv .name {
  position: relative;
  left: 5em;
  text-wrap: nowrap;
  font-size: 3.5em;
  top: -4.5em;
  width: 10px;
}
body main nav {
  float: right;
  background: white;
  margin-right: 2em;
  height: 80%;
  margin-top: -5em;
  width: 20em;
  border-radius: 5em 5em 5em 5em;
  transition: box-shadow 0.2s ease-in-out;
}
body main nav:hover {
  box-shadow: 10px 10px 50px -5px #000;
}
body main nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  height: 100%;
  width: 100%;
}
body main nav ul a {
  text-decoration: none;
  color: black;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px 25px;
  border-radius: 50px;
  transition: background 0.3s ease-in-out;
}
body main nav ul a li {
  list-style: none;
  height: 100%;
  width: 100%;
}
body main nav ul a li .content {
  text-align: center;
  font-size: 1.3em;
}
body main nav ul a:hover {
  background: rgba(0, 0, 0, 0.5);
}
body main .page-content {
  background: white;
  float: left;
  width: 60%;
  max-height: 60%;
  margin-left: 5em;
  padding: 40px;
  overflow: hidden;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;
  text-align: justify;
}
body main .page-content:hover {
  box-shadow: 10px 10px 50px -5px #000;
}
body main .page-content .linkcontact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body main .page-content .linkcontact .contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
body main .page-content .linkcontact .contact a {
  text-decoration: none;
  border-radius: 40px;
}
body main .page-content .linkcontact .contact a .weblink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0);
  padding: 10px 50px;
  border-radius: 40px;
  transition: background 0.4s ease-in-out;
  color: black;
}
body main .page-content .linkcontact .contact a .weblink i, body main .page-content .linkcontact .contact a .weblink .content {
  font-size: 2em;
}
body main .page-content .linkcontact .contact a .weblink:hover {
  cursor: pointer;
  background: rgba(34, 34, 34, 0.6);
}
body main .page-content .linkcontact .contact a:nth-child(1):hover > .weblink {
  background: rgba(223, 44, 44, 0.6);
}
body main .page-content .linkcontact .contact a:nth-child(2):hover > .weblink {
  background: rgba(46, 145, 33, 0.6);
}/*# sourceMappingURL=style.css.map */